body {
	padding-top: 30px;
	padding-bottom: 30px;
/* 	background-color: #FFFFFF; */
    background-color: #F8F8F8;
}


#logoCarvalLogin{
/* 	 width: 60%;  */
/* 	 height: 60%; */
	 display: block;
  	 margin: auto;
/*     position: absolute; */
    left: 50%;
    top: 20px;


  	 
  	 
  	 
/* 	 background-image:url(“{{ asset('img/imgLogin/Boton-Ejemplo.jpg') }}”); */
}

